@use 'placeholders';

.Root__main-view {
    .main-entityHeader-background {
        &.main-entityHeader-gradient,
        &.main-entityHeader-overlay {
            transform: none;
            // background-position: revert;
            background-position-x: 50%;
            background-position-y: 50%;
            // background-size: 100% auto;
            height: calc(100vh - 85px - 2 * var(--panel-margin) - var(--panel-content-margin-bottom) - 3px);
            min-height: unset;
        }

        &.main-entityHeader-overlay {
            &::after {
                content: none;
            }
        }
    }

    .main-entityHeader-container.main-entityHeader-withBackgroundImage {
        height: calc(100vh - 85px - 2 * var(--panel-margin) - var(--panel-content-margin-bottom) - 3px);
        max-height: unset;
        padding: var(--content-spacing);

        .main-entityHeader-headerText {
            // border-radius: 8px;
            padding: 15px;
            margin: auto 0px;
            // flex: 0;
            // flex-shrink: 1;

            // &:hover {
            //     background: var(--highlight-background);
            //     backdrop-filter: blur(5px);
            // }
        }
    }

    .artist-artistOverview-overview {
        margin: 0;

        .artist-artistOverview-artistOverviewContent {
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(var(--spice-rgb-main),0.5) 3%, rgba(var(--spice-rgb-main),0.8) 6%, var(--spice-main) 10%);
            padding-bottom: calc(var(--player-height) + 50px);

            .main-actionBarBackground-background {
                display: none;
            }

            .main-actionBar-ActionBar {
                .main-playButton-PlayButton {
                    width: revert;
                    height: revert;
                }
        
                .Button-sc-y0gtbx-0,
                .Button-sc-1dqy6lx-0 {
                    border-radius: var(--highlight-border-radius);
                    border-color: var(--spice-button);
                    color: var(--spice-button);
                    opacity: 1;
        
                    &:hover:not(:active) {
                        transform: none;
                        color: var(--spice-button-active);
                        border-color: var(--spice-button-active);
                    }
        
                    &:active {
                        color:var(--spice-button-active);
                        border-color: var(--spice-button-active);
                        @extend %activeTransform;
                    }
                }
            }
        }
    }

    section[data-test-uri^="spotify:artist"] > div:first-child {
        padding-bottom: calc(var(--player-height) + 50px);;
    }

    .artist-artistDiscography-topBar {
        padding: 0px 16px;
        top: 0;

        .artist-artistDiscography-artistName {
            display: none;
        }

        .x-sortBox-sortDropdown {
            order: 3;
            margin-left: auto;
        }

        .artist-artistDiscography-button[aria-label="list"] {
            order: 1;
        }

        .artist-artistDiscography-button[aria-label="grid"] {
            order: 2;
        }
    }
}