* {
	/* font-family: 'Roboto', sans-serif !important; */
    font-family: "Segoe UI" !important;
    /* font-weight: 400; */
}

/* hide premium shit */
.main-leaderboardComponent-container, .ReyA3uE3K7oEz7PTTnAn,    // bottom banner
.WiPggcPDzbwGxoxwLWFf,                                          // home sponsored banner
// .main-billboardComponent-footer,
.main-topBar-UpgradeButton,
.main-contextMenu-menuItemButton[href*="premium"] {
  display: none;
}
/* hide premium shit */

/* padding ca sa pot sa dau scroll mai sus de bara de player */
// .main-home-home,                                                                /* home */
// .playlist-playlist-playlistContent,                                             /* playlist */
// section.playlist-playlist-playlist:not([data-test-uri^="spotify:playlist:"]),   /* liked songs */
// .artist-artistOverview-artistOverviewContent,                                   /* artist */
// .album-albumPage-sectionWrapper,                                                /* album */
// .profile-userOverview-container,                                                /* profile */
// .show-showPage-sectionWrapper,
// .search-recentSearches-searchPageGrid,
// .x-settings-container,
// .FNDlk94hIuzTU46SX9XI,                                                          /* tour dates */
// .VvL91cIRcCi1hJh0K845,                                                          /* concert tickets */
// .dpN5ViPOceUWNB5EQPHN,                                                          /* podcast episode */
// .queue-queuePage-queuePage,                                                     /* queue */
// .dt3fysZYdQ6hhWfpmjAu                                                           /* recently played */ {
//     padding-bottom: calc(var(--player-height) + 2 * var(--player-margin-bottom));
// }
.Root__main-view .main-view-container main {
    // padding-bottom: calc(var(--player-height) + 2 * var(--player-margin-bottom));

    &::after {
        content: "";
        display: block;
        background: var(--spice-main);
        height: calc(var(--player-height) + 2 * var(--player-margin-bottom));
    }
}
/* padding ca sa pot sa dau scroll mai sus de bara de player */

.main-view-container__scroll-node-child {
    padding: 0;
}

/* scot divider-u dintre top bar si main view */
.main-view-container__scroll-node-child-spacer {
    display: none;
}
/* scot divider-u dintre top bar si main view */

.Root__main-view-overlay {
    margin: 0 !important;
}

.Root__top-container {
    gap: 0;
    padding: 0;
    background: var(--spice-backdrop);

    // grid-template-areas:
    //     "top-bar top-bar top-bar"
    //     "left-sidebar main-view right-sidebar"
    //     "now-playing-bar now-playing-bar now-playing-bar";
    // grid-template-rows: auto 1fr auto;

    .Root__main-view {
        position: absolute;
        width: revert;
        top: 48px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: var(--panel-margin) var(--panel-margin) var(--panel-margin) 0;
        padding-bottom: var(--panel-padding-bottom);
        border-radius: var(--panel-border-radius);
        background: none;

        .main-view-container {
            background: var(--spice-main);
            // top: 48px;
        }
    }
}

.os-theme-spotify {
    .os-scrollbar-vertical {
        margin-right: 2px;
        // top: var(--content-spacing) !important;

        .os-scrollbar-handle {
            background: var(--spice-misc) !important;
            border: 3px solid var(--spice-button);
            border-radius: 4px;
            opacity: 0.3;

            &:hover,
            &.active {
                opacity: 0.8;
            }
        }
    }
}