:root {
    --player-height: 100px;
    --player-album-cover-size: 64px;
    --show-lyrics-background: none;         /* [none / block] */

    --panel-margin: 5px;
    --panel-content-margin-left: 5px;       /* distance between content and edge of window */
    --panel-content-margin-right: 5px;      /* distance between content and edge of window */
    --panel-content-margin-top: 8px;        /* distance between content and edge of window */
    --panel-content-margin-bottom: 0px;     /* distance between content and edge of window */

    --player-border-radius: 0px;
    --panel-border-radius: 8px;
    --highlight-border-radius: 4px;         /* button / playlist / sidebar items hover background */
    --card-border-radius: 4px;
    --context-menu-border-radius: 4px;
    --modal-border-radius: 4px;
    --album-covers-border-radius: 0px;

    --playlist-dynamic-background: block;    /* show automatic playlist / album header background [none / block] */
    --highlight-background: rgba(var(--spice-rgb-highlight), 0.6);
}

* {
	/* font-family: 'Roboto', sans-serif !important; */
    font-family: "Segoe UI" !important;
    /* font-weight: 400; */
}

/* hide premium shit */
.main-leaderboardComponent-container,
.main-billboardComponent-footer,
.main-topBar-UpgradeButton,
.main-contextMenu-menuItemButton[href*="premium"] {
  display: none;
}
/* hide premium shit */

/* padding ca sa pot sa dau scroll mai sus de bara de player */
.main-home-home,
.playlist-playlist-playlistContent,
.album-albumPage-sectionWrapper,
.show-showPage-sectionWrapper,
.search-recentSearches-searchPageGrid,
.x-settings-container,
.FNDlk94hIuzTU46SX9XI, /* tour dates */
.VvL91cIRcCi1hJh0K845,
.dpN5ViPOceUWNB5EQPHN, /* podcast episode */
.queue-queuePage-queuePage, /* queue */
.dt3fysZYdQ6hhWfpmjAu /* recently played */ {
    padding-bottom: calc(var(--player-height) + 50px);
}
/* padding ca sa pot sa dau scroll mai sus de bara de player */

.main-view-container__scroll-node-child {
    padding: 0;
}

/* scot divider-u dintre top bar si main view */
.main-view-container__scroll-node-child-spacer {
    display: none;
}
/* scot divider-u dintre top bar si main view */

.Root__main-view-overlay {
    margin: 0 !important;
}

.Root__top-container {
    gap: 0;
    padding: 0;
    background: var(--spice-backdrop);

    grid-template-areas:
        "top-bar top-bar top-bar"
        "left-sidebar main-view right-sidebar"
        "now-playing-bar now-playing-bar now-playing-bar";
    grid-template-rows: auto 1fr auto;

    .Root__main-view {
        width: revert;
        margin: var(--panel-margin) var(--panel-margin) var(--panel-margin) 0;
        padding-bottom: var(--panel-content-margin-bottom);
        border-radius: var(--panel-border-radius);
    }
}

.os-theme-spotify {
    .os-scrollbar-vertical {
        margin-right: 2px;
        top: var(--content-spacing) !important;

        .os-scrollbar-handle {
            background: var(--spice-misc) !important;
            border: 3px solid var(--spice-button);
            border-radius: 4px;
            opacity: 0.3;

            &:hover,
            &.active {
                opacity: 0.8;
            }
        }
    }
}