.main-notificationBubbleContainer-NotificationBubbleContainer {
    margin: 0;
    place-self: unset;
    position: absolute;
    top: 100px;
    right: 30px;

    .main-notificationBubble-NotificationBubble {
        border-radius: var(--highlight-border-radius);
        transition: none;
    }
}

.main-notificationBubble-enter {
    opacity: 1;
    pointer-events: none;
    animation: flyout .5s linear;
}

.main-notificationBubble-enterActive {
    opacity: 1;
}

.main-notificationBubble-exit {
    animation: flyin .5s linear forwards;
    opacity: 1;
}

.main-notificationBubble-exitActive {
    opacity: 1;
}

@keyframes flyout {
    from {transform: translateX(calc(100% + 20px));}
    to {transform: translateX(0%);}
}
@keyframes flyin {
    from {transform: translateX(0%);}
    to {transform: translateX(calc(100% + 20px));}
}