/* .main-entityHeader-headerText,
.main-entityHeader-metaDataText,
.main-duration-container {
    color: var(--spice-subtext);
}
.main-playButton-PlayButton.main-playButton-primary {
    background: var(--spice-main);
    color: var(--spice-button);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.main-playButton-PlayButton.main-playButton-primary:hover {
    color: var(--spice-button-active);
} */

.main-topBar-container {
    .main-topBar-overlay,
    .main-topBar-topbarContent .main-playButton-PlayButton {
        display: none;
    }
}

.playlist-playlist-playlist {
    margin: 0;

    .main-entityHeader-container.main-entityHeader-nonWrapped {
        height: unset;
        max-height: unset;
        min-height: unset;
        padding: var(--content-spacing);

        .main-entityHeader-imageContainer {
            margin-left: auto;

            .main-entityHeader-shadow {
                box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
            }
        }

        .main-entityHeader-headerText {
            display: block;
            flex: none;
            margin: auto auto auto 0;
        }
    }

    .main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
        top: 0 !important;
        background: var(--spice-main);
        box-shadow: none;
    }
}

.playlist-playlist-playlist .main-entityHeader-imageContainer .main-entityHeader-image,
.playlist-playlist-playlist .main-entityHeader-imageContainer .main-editImage-buttonContainer .main-editImageButton-overlay,
.main-trackList-trackListRow .main-trackList-rowSectionStart .main-trackList-rowImage {
    border-radius: var(--album-covers-border-radius);
}

.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowTitle,
.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowDuration {
    color: var(--spice-text);
}

.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:hover .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:focus-within .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:focus-within .main-trackList-rowTitle,
.main-trackList-trackListRow:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowDuration,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowDuration,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowDuration,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowDuration,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowHeartButton,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowHeartButton,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowHeartButton,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowHeartButton,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowMoreButton,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowMoreButton,
.main-trackList-rowSectionVariable[role="columnheader"]:not([aria-sort="none"]) span,
.main-trackList-rowSectionStart[role="columnheader"]:not([aria-sort="none"]) span,
.main-trackList-rowSectionEnd[role="columnheader"]:not([aria-sort="none"]) button {
    color: var(--spice-button-active) !important;
}

.main-trackList-trackListRow {
    background: rgba(0, 0, 0, 0);
    transition: background .3s ease;
    border-radius: var(--highlight-border-radius);
}

.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover, 
.main-trackList-trackListRow.main-trackList-selected:hover,
.main-trackList-trackListRow.main-trackList-selected:focus-within,
.main-trackList-trackListRow.main-trackList-selected {
    /* background: rgba(0, 0, 0, 0.6); */
    background: var(--highlight-background);
}

.main-trackList-trackListRow.main-trackList-active:not(.main-trackList-selected):not(:hover):not(:focus-within) {
    background: rgba(var(--spice-rgb-button-active), 0.4);
    /* border: rgba(var(--spice-rgb-button-active), 0.4) solid; */
    border-radius: var(--highlight-border-radius);
}