@use 'placeholders';

.main-contextMenu-menu {
    border-radius: var(--context-menu-border-radius);
    
    .main-contextMenu-menuItemButton  {
        @extend %textColor;

        &:hover,
        &[aria-expanded="true"] {
            @extend %activeHighlight;
            @extend %activeColor;
        }
    }
}

.GenericModal.encore-dark-theme > div {
    border-radius: var(--modal-border-radius);

    &.encore-light-theme.main-confirmDialog-container {
        background: var(--spice-main);

        h2, p, button[data-encore-id="buttonTertiary"] {
            color: var(--spice-text);
        }
    }
}