@use 'placeholders';

.Root__nav-bar {
    background: none;
    margin: var(--panel-margin);
    z-index: unset;
    
    .main-navBar-mainNav {
        gap: 0;

        .main-yourLibraryX-entryPoints {
            border-radius: 0;
            /* width: fit-content;
            margin: 0 auto; */

            &.main-yourLibraryX-library {
                border-radius: var(--panel-border-radius);
                background: var(--spice-sidebar);
            }

            &:not(.main-yourLibraryX-library) {
                position: absolute;
                top: calc(-48px - var(--panel-margin));
                width: fit-content;
                height: 48px;
                background: none;
                /* margin: 0 auto; */
                margin-left: calc(var(--panel-content-margin-left) + 8px + 64px + 8px);
            }

            .main-yourLibraryX-navItems {
                display: flex;
                position: relative;
                width: fit-content;
                height: 100%;
                align-items: center;
                /* padding: 8px 0px; */
                padding: 0;
                gap: 8px;
                z-index: 6;

                .main-yourLibraryX-navItem {
                    padding: 0;
                    border-radius: var(--highlight-border-radius);

                    &:hover {
                        @extend %activeHighlight;
                        @extend %activeColor;

                        .main-yourLibraryX-navLink svg {
                            @extend %activeColor;
                        }
                    }

                    .main-yourLibraryX-navLink {
                        display: flex;
                        width: 32px;
                        height: 32px;
                        align-items: center;
                        justify-content: center;
                        transition: none;
                        color: var(--spice-button);

                        &.main-yourLibraryX-navLinkActive svg {
                            @extend %activeColor;
                        }

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                        
                        .Type__TypeElement-sc-goli3j-0 {
                            display: none;
                        }
                    }
                }
            }

            .main-yourLibraryX-libraryContainer {
                padding-bottom: var(--panel-content-margin-bottom);

                .main-yourLibraryX-header {
                    padding: var(--panel-content-margin-top) 0px 8px var(--panel-content-margin-left);

                    &.main-yourLibraryX-headerIsCollapsed {
                        .main-yourLibraryX-collapseButton {
                            margin: 0;
                        }
                    }

                    .main-yourLibraryX-headerContent button {
                        color: var(--spice-button);
                        border-radius: var(--highlight-border-radius);

                        &:hover,
                        &:active {
                            background: var(--highlight-background);
                            color: var(--spice-button-active);
                        }
                    }
                }

                // .main-yourLibraryX-filterArea {
                //     padding: 8px var(--panel-content-margin);
                // }

                .main-yourLibraryX-libraryRootlist {
                    padding: 0px 16px 0px var(--panel-content-margin-left);

                    &.main-yourLibraryX-libraryIsCollapsed {
                        padding: 0px 0px 0px var(--panel-content-margin-left);
                    }

                    .main-useDropTarget-base {
                        .main-yourLibraryX-listItemGroup {
                            @extend %activeGradient;
                            .TypeElement-ballad-textBase-type {
                                // color: var(--spice-text);
                                @extend %textColor;
                            }

                            &:hover {
                                .TypeElement-ballad-textBase-type {
                                    // color: var(--spice-button-active);
                                   @extend %activeColor;
                                }
                            }
                        }
                    }
                }

                .main-yourLibraryX-libraryFilter {
                    padding: 0;

                    .x-filterBox-filterInputContainer {
                        // &.x-filterBox-expandedOrHasFilter .x-filterBox-expandButton {
                        //     color:var(--spice-button-active);
                        //     z-index:unset;
                        // }
            
                        .x-filterBox-expandButton {
                            border-radius: var(--highlight-border-radius);
                            color: var(--spice-button);
                            &:hover:not(:active),
                            &:focus {
                                transform: none;
                                color: var(--spice-button-active);
                                background: none;
                            }
                
                            &:active {
                                color:var(--spice-button-active);
                                border-color: var(--spice-button-active);
                                @extend %activeTransform;
                            }
                        }
            
                        .x-filterBox-searchIconContainer {
                            // color: var(--spice-text);
                            @extend %textColor;
                        }
                        .x-filterBox-filterInput {
                            background: var(--highlight-background);
                            color: var(--spice-text);
                            border-radius: var(--highlight-border-radius);
            
                            &::placeholder {
                                // color: var(--spice-text);
                                @extend %textColor;
                            }
                        }
            
                        .x-filterBox-clearButton {
                            // color: var(--spice-button);
                            @extend %buttonColor;
                            &:hover,
                            &:active {
                                // color: var(--spice-button-active);
                                @extend %activeColor;
                            }
                        }
                    }
            
                    .x-sortBox-sortDropdown {
                        // color: var(--spice-button);
                        @extend %buttonColor;
            
                        &:focus,
                        &:hover,
                        &:active,
                        &[aria-expanded="true"] {
                            // color: var(--spice-button-active);
                            @extend %activeColor;
                        }
                    }
                }
            }

            .main-useDropTarget-base .main-yourLibraryX-listItemGroup::after {
                display: none;
            }
        }
    }
}