@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://takosthings.github.io/Fluent-Discord-Fonts/segoeui.ttf');

* {
	/* font-family: 'Roboto', sans-serif !important; */
    font-family: "Segoe UI" !important;
    /* font-weight: 400; */
}

/* :root {
    --player-height: 100px;
    --player-border-radius: 7px;
    --player-album-cover-size: 64px;
    --show-lyrics-background: none; /* none / block */
    /* --general-border-radius: 7px;
    --album-covers-border-radius: 0px;
} */
/* hide premium shit */
.main-leaderboardComponent-container,
.main-billboardComponent-footer,
.main-topBar-UpgradeButton,
.main-contextMenu-menuItemButton[href*="premium"] {
  display: none;
}
/* hide premium shit */

/* padding ca sa pot sa dau scroll mai sus de bara de player */
.main-view-container__scroll-node-child {
    padding-bottom: 150px;
}
/* padding ca sa pot sa dau scroll mai sus de bara de player */

.Root__top-container {
    gap: 0;
    padding: 0;
    background: var(--spice-main);
}

.Root__main-view-overlay {
    margin: 0 !important;
}

/* top bar */
.main-topBar-background {
    background: var(--spice-main) !important;
    border-radius: 0;
}

.main-userWidget-boxCondensed {
    background: none !important;
}
.main-userWidget-boxCondensed:hover,
.main-userWidget-boxCondensed:active,
.main-userWidget-boxCondensed[data-context-menu-open="true"] {
    background-color: rgba(var(--spice-rgb-shadow),.7) !important;
    color: var(--spice-button-active);
    opacity: 1;
}

.main-userWidget-boxCondensed,
.main-topBar-buddyFeed,
.main-topBar-historyButtons .main-topBar-button {
    background: none;
    color: var(--spice-button);
}

.main-topBar-historyButtons .main-topBar-button:hover:not([disabled]),
.main-topBar-historyButtons .main-topBar-button:active:not([disabled]),
.main-topBar-buddyFeed:hover,
.main-topBar-buddyFeed:active {
    background-color: rgba(var(--spice-rgb-shadow),.7);
    color: var(--spice-button-active);
}
.main-topBar-historyButtons .main-topBar-button:hover:not([disabled]) .main-topBar-icon,
.main-topBar-historyButtons .main-topBar-button:active:not([disabled]) .main-topBar-icon {
    color: var(--spice-button-active);
}

.main-topBar-historyButtons .main-topBar-button:active:not([disabled]),
.main-userWidget-boxCondensed:active,
.main-topBar-buddyFeed:active {
    transform: scale(0.95);
}

/* home */
.Root__main-view {
    border-radius: 0;
}
/* .main-home-homeHeader {
    background: none !important;
} */

.main-card-imageContainer .main-cardImage-imageWrapper,
.main-card-imageContainer .main-cardImage-imageWrapper .main-cardImage-image {
    border-radius: var(--album-covers-border-radius);
}
/* home */

/* popouts */
.main-contextMenu-menuItemButton {
    color: var(--spice-button);
}
/* .main-entityHeader-container.main-entityHeader-nonWrapped {
    min-height: 280px;
} */
/* popouts */

/* notification toast */
.main-notificationBubbleContainer-NotificationBubbleContainer {
    margin: 0;
    place-self: unset;
    position: absolute;
    top: 100px;
    right: 30px;
}

.main-notificationBubble-NotificationBubble {
    border-radius: var(--general-border-radius);
    transition: none;
}

.main-notificationBubble-enter {
    opacity: 1;
    pointer-events: none;
    animation: flyout .5s linear;
}

.main-notificationBubble-enterActive {
    opacity: 1;
}

.main-notificationBubble-exit {
    animation: flyin .5s linear forwards;
    opacity: 1;
}

.main-notificationBubble-exitActive {
    opacity: 1;
}

@keyframes flyout {
    from {transform: translateX(calc(100% + 20px));}
    to {transform: translateX(0%);}
}
@keyframes flyin {
    from {transform: translateX(0%);}
    to {transform: translateX(calc(100% + 20px));}
}
/* notification toast */

/* sidebar */
.main-navBar-mainNav {
    gap: 0;
}
.main-yourLibraryX-entryPoints {
    border-radius: 0;
}

.main-collectionLinkButton-collectionLinkButton, .main-createPlaylistButton-button,
.main-yourLibraryX-navItem .main-yourLibraryX-navLink {
    color: var(--spice-button);
}
/* .main-collectionLinkButton-collectionLinkButton:hover, .main-createPlaylistButton-button:hover,
.main-rootlist-playButton svg, */
/* .main-rootlist-rootlistItemOverlay:hover~.main-rootlist-rootlistItemLink,
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive,
.main-rootlist-rootlistItemLink:focus,
.main-rootlist-rootlistItemLink:hover, */
.main-yourLibraryX-navItem:hover .main-yourLibraryX-navLink,
.main-yourLibraryX-navLink:hover .main-yourLibraryX-navLink svg,
.main-yourLibraryX-navItem .main-yourLibraryX-navLink.main-yourLibraryX-navLinkActive,
.main-yourLibraryX-navItem .main-yourLibraryX-navLink.main-yourLibraryX-navLinkActive svg {
    color: var(--spice-button-active);
}
/* .main-rootlist-rootlistDividerContainer {
    display: none;
} */

.main-useDropTarget-base .main-yourLibraryX-listItemGroup::after {
    display: none;
}

.main-rootlist-rootlistItem,
.main-yourLibraryX-navItem,
.main-useDropTarget-base .main-yourLibraryX-listItemGroup {
    background-image: 
        /* linear-gradient(90deg,
                        transparent 50%,
                        rgba(0, 0, 0, 0.6) 50%,
                        rgba(0, 0, 0, 0.6) 95%,
                        var(--spice-text) 95%); */
        linear-gradient(90deg,
                        rgba(0, 0, 0, 0.6) 49%,
                        var(--spice-button-active) 49%,
                        var(--spice-button-active) 50%,
                        transparent 50%,
                        transparent 100%);
    /* background: rgba(0,0,0,0.3); */
    background-position: center right;
    background-size: 200% 100%;
    transition: all .4s ease;
    border-radius: var(--general-border-radius);
}

.main-rootlist-rootlistItem:hover,
.main-yourLibraryX-navItem:hover,
.main-useDropTarget-base .main-yourLibraryX-listItemGroup:hover {
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0) 0%); */
    background-position: center left;
}

/* playlist */
/* .main-entityHeader-headerText,
.main-entityHeader-metaDataText,
.main-duration-container {
    color: var(--spice-subtext);
}
.main-playButton-PlayButton.main-playButton-primary {
    background: var(--spice-main);
    color: var(--spice-button);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.main-playButton-PlayButton.main-playButton-primary:hover {
    color: var(--spice-button-active);
} */

.main-topBar-overlay,
.main-topBar-topbarContent .main-playButton-PlayButton {
    display: none;
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
    background: var(--spice-main);
}

.playlist-playlist-playlistImageContainer .main-entityHeader-image,
.playlist-playlist-playlistImageContainer .main-editImage-buttonContainer,
.main-trackList-trackListRow .main-trackList-rowSectionStart .main-trackList-rowImage {
    border-radius: var(--album-covers-border-radius);
}

.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowTitle,
.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow:not(.main-trackList-selected) .main-trackList-rowDuration {
    color: var(--spice-text);
}

.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:hover .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:focus-within .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowSubTitle a,
.main-trackList-trackListRow:focus-within .main-trackList-rowTitle,
.main-trackList-trackListRow:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowDuration,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowDuration,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowDuration,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowDuration,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowHeartButton,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowHeartButton,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowHeartButton,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowHeartButton,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowMoreButton,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowMoreButton,
.main-trackList-rowSectionVariable[role="columnheader"]:not([aria-sort="none"]) span,
.main-trackList-rowSectionStart[role="columnheader"]:not([aria-sort="none"]) span,
.main-trackList-rowSectionEnd[role="columnheader"]:not([aria-sort="none"]) button {
    color: var(--spice-button-active) !important;
}

.main-entityHeader-shadow {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

.main-trackList-trackListRow {
    background: rgba(0, 0, 0, 0);
    transition: background .3s ease;
    border-radius: var(--general-border-radius);
}

.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover, 
.main-trackList-trackListRow.main-trackList-selected:hover,
.main-trackList-trackListRow.main-trackList-selected:focus-within,
.main-trackList-trackListRow.main-trackList-selected {
    background: rgba(0, 0, 0, 0.6);
}

.main-trackList-trackListRow.main-trackList-active:not(.main-trackList-selected):not(:hover):not(:focus-within) {
    background: rgba(var(--spice-rgb-button-active), 0.4);
    /* border: rgba(var(--spice-rgb-button-active), 0.4) solid; */
    border-radius: var(--general-border-radius);
}

/* player */

.Root__now-playing-bar {
    /* box-shadow: 0px -15px 100px rgba(0,0,0,0.3); */
    border-radius: var(--player-border-radius);
    width: 750px;
    /* height: 50%; */
    position: fixed;
    bottom: 0;
    margin: 0px auto 50px;
    left: 0;
    right: 0;
}

.Root__now-playing-bar::before {
    content: "";
    border-radius: var(--player-border-radius);
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -21;
}

.main-nowPlayingBar-container {
    background: transparent;
    border: none;
}

.main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar {
    position: relative;
    height: var(--player-height);
    padding: 0 15px;
    margin: 0;
}

.main-nowPlayingBar-left .main-coverSlotCollapsed-navAltContainer {
    transform: none;
    border-radius: var(--album-covers-border-radius);
}

.cover-art.shadow,
.main-nowPlayingWidget-coverArt .cover-art {
    /* display: none; */
    width: var(--player-album-cover-size) !important;
    height: var(--player-album-cover-size) !important;
}



/* .main-coverSlotCollapsed-expandButton {
    display: none;
} */

.main-nowPlayingBar-left .main-nowPlayingWidget-nowPlaying .control-button-heart {
    display: none;
    position: absolute;
    border-radius: 0;
    width: var(--player-album-cover-size);
    height: var(--player-album-cover-size);
    background: rgba(0, 0, 0, 0.6);
    transform: none;
}

.main-nowPlayingBar-left .main-nowPlayingWidget-nowPlaying:hover .control-button-heart {
    display: flex;
}

.main-nowPlayingBar-left .main-nowPlayingWidget-nowPlaying .main-coverSlotCollapsed-expandButton {
    display: none;
}

.main-nowPlayingBar-center {
    max-width: unset;
    width: auto;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

/* .main-nowPlayingBar-right {
    min-width: unset;
    width: auto;
} */

.volume-bar {
    /* display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow: visible; */
    position: relative;
    margin: 0;
    flex: 0;
}

.volume-bar .volume-bar__slider-container {
    position: absolute;
    display: none;
    width: 150px;
    right: -150px;
}

.volume-bar .volume-bar__slider-container::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    display: none;
    height: calc(100% + 30px);
    width: calc(100% + 20px);
    margin-left: -10px;
    transform: translate(0, -50%);
    top: 50%;
}

.volume-bar:hover .volume-bar__slider-container {
    display: block;
}

.volume-bar:hover .volume-bar__slider-container:before {
    display: block;
}

.player-controls .playback-progressbar {
    width: 100%;
    height: 100%;
    z-index: 10;
}
.main-nowPlayingBar-left,
.main-nowPlayingBar-right,
.player-controls .player-controls__buttons,
.playback-bar__progress-time-elapsed,
.main-playbackBarRemainingTime-container {
    z-index: 11;
}

.player-controls .playback-bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.player-controls .playback-progressbar .progress-bar {
    --progress-bar-height: 100%;
    --progress-bar-radius: 0px;
    --bg-color: transparent;
    --fg-color: var(--spice-button-active);
    opacity: 0.3;
    /* backdrop-filter: blur(5px); */
}
.x-progressBar-progressBarBg, .x-progressBar-sliderArea {
    border-radius: var(--player-border-radius);
}
.player-controls .playback-progressbar .epWhU7hHGktzlO_dop6z {
    transform: translateX(calc(-100.06% + var(--progress-bar-transform)));
}

.player-controls .playback-bar__progress-time-elapsed,
.player-controls .main-playbackBarRemainingTime-container {
    position: absolute;
    text-align: unset;
    min-width: unset;
    color: var(--spice-text);
}

.player-controls .playback-bar__progress-time-elapsed {
    /* top: 37px; */
    right: 220px;
    /* right: -40px; */
}
.player-controls .playback-bar__progress-time-elapsed::after {
    content: "/";
    margin-left: 5px;
}
.player-controls .main-playbackBarRemainingTime-container {
    /* top: 37px; */
    right: 190px;
    /* right: -65px; */
}

.lyrics-lyrics-container {
    --lyrics-color-active: var(--spice-text) !important;
    padding-top: 0;
}
.lyrics-lyrics-contentContainer {
    padding-bottom: 150px;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric:not(.lyrics-lyricsContent-highlight):not(.lyrics-lyricsContent-active) {
    color: var(--spice-text) !important;
    opacity: 0.3;
}
.lyrics-lyrics-container .lyrics-lyrics-background {
    display: var(--show-lyrics-background);
}
.lyrics-lyrics-contentContainer .lyrics-lyrics-contentWrapper {
	font-size: 1.5rem;
}
.lyrics-lyricsContent-provider p {
    color: var(--spice-text);
    opacity: 0.3;
}

.main-shuffleButton-button[disabled],
.main-repeatButton-button[disabled],
.control-button[aria-label="Full screen"] {
    display: none;
}

.player-controls__buttons {
    margin-bottom: 0px;
}
.main-playPauseButton-button {
    --button-size: 50px !important;
    background-color: var(--spice-player);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.player-controls__buttons button:not(.main-playPauseButton-button) {
    /* --button-size: 50px !important; */
    width: 16px;
    min-width: unset;
    height: 16px;
    margin: auto 5px;
}

.main-shuffleButton-button, .main-shuffleButton-button:focus:not(:focus-visible,:hover,:active),
.main-skipBackButton-button, .main-skipBackButton-button:focus:not(:focus-visible,:hover,:active),
.main-skipForwardButton-button, .main-skipForwardButton-button:focus:not(:focus-visible,:hover,:active),
.main-repeatButton-button, .main-repeatButton-button:focus:not(:focus-visible,:hover,:active),
.control-button:not(.control-button--active):not(.main-addButton-active), .control-button:focus,
.main-nowPlayingBar-extraControls .Button-sc-1dqy6lx-0,
/* .main-addButton-button, */
.main-playPauseButton-button svg {
    color: var(--spice-button);
}

.main-shuffleButton-button:hover, .main-shuffleButton-button.main-shuffleButton-active, .main-shuffleButton-button.main-shuffleButton-active:not([disabled]):focus:not(:focus-visible):not(:hover),
.main-skipBackButton-button:hover,
.main-skipForwardButton-button:hover,
.main-repeatButton-button:hover, .main-repeatButton-button.main-repeatButton-active, .main-repeatButton-button.main-repeatButton-active:not([disabled]):focus:not(:focus-visible):not(:hover),
.control-button:hover:not(.control-button--active):not(.main-addButton-active),
.main-genericButton-button.main-genericButton-buttonActive,
.main-addButton-active,.main-addButton-active:focus,.main-addButton-active:hover,
.main-nowPlayingBar-extraControls .Button-sc-1dqy6lx-0:hover, .main-nowPlayingBar-extraControls .Button-sc-1dqy6lx-0:active:hover,
.main-playPauseButton-button:hover svg,
.main-playPauseButton-button:active svg {
    color: var(--spice-button-active);
}

.Button-sc-1dqy6lx-0.dgwCXe:hover {
    transform: none;
}

.main-genericButton-button.main-genericButton-buttonActive::after {
/* .progress-bar--is-active .progress-bar__fg,
.progress-bar--is-active .progress-bar__slider { */
    background: var(--spice-button-active);
}

.main-shuffleButton-button:active, .main-shuffleButton-button:active:focus,
.main-skipBackButton-button:active, .main-skipBackButton-button:active:focus,
.main-skipForwardButton-button:active, .main-skipForwardButton-button:active:focus,
.main-repeatButton-button:active, .main-repeatButton-button:active:focus,
.main-nowPlayingBar-extraControls .control-button:focus:active, .main-nowPlayingBar-extraControls .control-button:hover:active, .main-nowPlayingBar-extraControls .control-button:active,
.main-nowPlayingBar-extraControls .Button-sc-1dqy6lx-0:active,
.main-playPauseButton-button:active {
    transform: scale(0.95);
    color: var(--spice-button-active);
    opacity: 1;
}