@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://takosthings.github.io/Fluent-Discord-Fonts/segoeui.ttf');

* {
	/* font-family: 'Roboto', sans-serif !important; */
    font-family: "Segoe UI" !important;
    /* font-weight: 400; */
}

:root {
    --show-lyrics-background: none; /* none / block */
}

.main-leaderboardComponent-container,
.main-billboardComponent-footer,
.main-topBar-UpgradeButton,
.main-contextMenu-menuItemButton[href*="premium"] {
  display: none;
}

.main-view-container__scroll-node-child {
    padding-bottom: 150px;
}

.main-entityHeader-backgroundColor,
.main-actionBarBackground-background,
.main-topBar-overlay {
    background: transparent !important;
}

/* top bar */
.main-topBar-background {
    background: var(--spice-main) !important;
}

.main-userWidget-box,
.main-topBar-historyButtons .main-topBar-button {
    background: none;
    color: var(--spice-button);
}

.main-topBar-historyButtons .main-topBar-button:hover:not([disabled]),
.main-topBar-historyButtons .main-topBar-button:active:not([disabled]),
.main-userWidget-box:hover,
.main-userWidget-box[data-context-menu-open="true"] {
    background-color: rgba(var(--spice-rgb-shadow),.7);
    color: var(--spice-button-active);
}
.main-topBar-historyButtons .main-topBar-button:active:not([disabled]) {
    transform: scale(0.9);
}

/* popouts */
.main-contextMenu-menuItemButton {
    color: var(--spice-button);
}
/* .main-entityHeader-container.main-entityHeader-nonWrapped {
    min-height: 280px;
} */

/* sidebar */
.main-collectionLinkButton-collectionLinkButton, .main-createPlaylistButton-button {
    color: var(--spice-button);
}
.main-collectionLinkButton-collectionLinkButton:hover, .main-createPlaylistButton-button:hover,
.main-rootlist-playButton svg,
.main-rootlist-rootlistItemOverlay:hover~.main-rootlist-rootlistItemLink,
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive,
.main-rootlist-rootlistItemLink:focus,
.main-rootlist-rootlistItemLink:hover {
    color: var(--spice-button-active);
}
.main-rootlist-rootlistDividerContainer {
    display: none;
}

.main-rootlist-rootlistItem,
.main-navBar-navBarItem,
.GlueDropTarget.personal-library {
    background-image: 
        /* linear-gradient(90deg,
                        transparent 50%,
                        rgba(0, 0, 0, 0.6) 50%,
                        rgba(0, 0, 0, 0.6) 95%,
                        var(--spice-text) 95%); */
        linear-gradient(90deg,
                        rgba(0, 0, 0, 0.6) 49%,
                        var(--spice-button-active) 49%,
                        var(--spice-button-active) 50%,
                        transparent 50%,
                        transparent 100%);
    /* background: rgba(0,0,0,0.3); */
    background-position: center right;
    background-size: 200% 100%;
    transition: all .4s ease;
}

.main-rootlist-rootlistItem:hover,
.main-navBar-navBarItem:hover,
.GlueDropTarget.personal-library:hover {
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0) 0%); */
    background-position: center left;
}

/* playlist */
/* .main-entityHeader-headerText,
.main-entityHeader-metaDataText,
.main-duration-container {
    color: var(--spice-subtext);
}
.main-playButton-PlayButton.main-playButton-primary {
    background: var(--spice-main);
    color: var(--spice-button);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.main-playButton-PlayButton.main-playButton-primary:hover {
    color: var(--spice-button-active);
} */
.main-trackList-rowTitle,
.main-trackList-trackListRow .Type__TypeElement-goli3j-0,
.main-trackList-rowSectionVariable[role="columnheader"] .Type__TypeElement-goli3j-0,
.main-trackList-rowSectionStart[role="columnheader"] .Type__TypeElement-goli3j-0,
.main-trackList-rowSectionEnd[role="columnheader"] .Type__TypeElement-goli3j-0 {
    color: var(--spice-button);
}

.main-trackList-trackListRow:focus-within .main-trackList-rowTitle,
.main-trackList-trackListRow:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-selected:hover .main-trackList-rowTitle,
.main-trackList-trackListRow:focus-within .Type__TypeElement-goli3j-0,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .Type__TypeElement-goli3j-0 a,
.main-trackList-trackListRow:hover .Type__TypeElement-goli3j-0,
.main-trackList-trackListRow:hover .Type__TypeElement-goli3j-0 a,
.main-trackList-trackListRow.main-trackList-selected .Type__TypeElement-goli3j-0,
.main-trackList-trackListRow.main-trackList-selected .Type__TypeElement-goli3j-0 a,
.main-trackList-trackListRow.main-trackList-selected:hover .Type__TypeElement-goli3j-0,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowMoreButton,
.main-trackList-trackListRow:focus-within:not(.main-trackList-disabled) .main-trackList-rowMoreButton,
.main-trackList-rowSectionVariable[role="columnheader"]:not([aria-sort="none"]) .Type__TypeElement-goli3j-0,
.main-trackList-rowSectionStart[role="columnheader"]:not([aria-sort="none"]) .Type__TypeElement-goli3j-0,
.main-trackList-rowSectionEnd[role="columnheader"]:not([aria-sort="none"]) button {
    color: var(--spice-button-active) !important;
}

.main-entityHeader-shadow {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

.main-trackList-trackListRow {
    background: rgba(0, 0, 0, 0);
    transition: background .3s ease;
}

.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover, 
.main-trackList-trackListRow.main-trackList-selected:hover,
.main-trackList-trackListRow.main-trackList-selected:focus-within,
.main-trackList-trackListRow.main-trackList-selected {
    background: rgba(0, 0, 0, 0.6);
}

/* player */

.Root__now-playing-bar {
    /* box-shadow: 0px -15px 100px rgba(0,0,0,0.3); */
    /* border-radius: 10px; */
    background: rgba(0,0,0,0.4);
    /* backdrop-filter: blur(5px); */
    width: 60%;
    /* height: 50%; */
    position: fixed;
    bottom: 0;
    margin: 0px auto 50px;
    left: 0;
    right: 0;
}

.Root__now-playing-bar::before {
    content: "";
    border-radius: 10px;
    /* background: rgba(0,0,0,0.2); */
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -21;
}

.main-nowPlayingBar-container {
    background: transparent;
    border: none;
}

.main-coverSlotCollapsed-container {
    display: none;
}

.main-trackInfo-container {
    margin: 0;
}

.volume-bar {
    display: flex;
    flex: 0;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    overflow: visible;
}

.volume-bar .playback-progressbar {
    position: relative;
    display: none;
    transform: rotate(-90deg);
    height: 0;
    width: 300%;
    bottom: 50px;
}

.volume-bar .playback-progressbar::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    display: none;
    height: 50px;
    width: 110px;
    margin-left: -10px;
    margin-top: -25px;
}

.volume-bar:hover .playback-progressbar {
    display: block;
}

.volume-bar:hover .playback-progressbar:before {
    display: block;
}

.player-controls .playback-progressbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
}
.player-controls .playback-progressbar .progress-bar {
    --progress-bar-height: 100%;
    --progress-bar-radius: 0px;
    --bg-color: transparent;
    --fg-color: var(--spice-button-active);
    opacity: 0.3;
    /* backdrop-filter: blur(5px); */
}
.player-controls .playback-progressbar .epWhU7hHGktzlO_dop6z {
    transform: translateX(calc(-100.06% + var(--progress-bar-transform)));
}

.player-controls .playback-bar__progress-time-elapsed,
.player-controls .main-playbackBarRemainingTime-container {
    position: absolute;
    text-align: unset;
    min-width: unset;
    color: var(--spice-text);
}

.player-controls .playback-bar__progress-time-elapsed {
    top: 37px;
    right: 220px;
}
.player-controls .playback-bar__progress-time-elapsed::after {
    content: "/";
    margin-left: 5px;
}
.player-controls .main-playbackBarRemainingTime-container {
    top: 37px;
    right: 190px;
}

.lyrics-lyrics-container {
    --lyrics-color-active: var(--spice-text) !important;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric:not(.lyrics-lyricsContent-highlight):not(.lyrics-lyricsContent-active) {
    color: var(--spice-text) !important;
    opacity: 0.3;
}
.lyrics-lyrics-container .lyrics-lyrics-background {
    display: var(--show-lyrics-background);
}

.main-shuffleButton-button, .main-shuffleButton-button:focus:not(:focus-visible):not(:hover),
.main-skipBackButton-button, .main-skipBackButton-button:focus:not(:focus-visible):not(:hover),
.main-skipForwardButton-button, .main-skipForwardButton-button:focus:not(:focus-visible):not(:hover),
.main-repeatButton-button, .main-repeatButton-button:focus:not(:focus-visible):not(:hover),
.control-button:not(.control-button--active), .control-button:focus,
.main-addButton-button,
.main-playPauseButton-button svg {
    color: var(--spice-button);
}

.player-controls__buttons {
    margin-bottom: 0px;
}
.main-playPauseButton-button {
    --button-size: 50px !important;
    background-color: var(--spice-player);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.player-controls__buttons button:not(.main-playPauseButton-button) {
    /* --button-size: 50px !important; */
    height: unset;
}

.main-shuffleButton-button:hover, .main-shuffleButton-button.main-shuffleButton-active, .main-shuffleButton-button.main-shuffleButton-active:not([disabled]):focus:not(:focus-visible):not(:hover),
.main-skipBackButton-button:hover,
.main-skipForwardButton-button:hover,
.main-repeatButton-button:hover, .main-repeatButton-button.main-repeatButton-active, .main-repeatButton-button.main-repeatButton-active:not([disabled]):focus:not(:focus-visible):not(:hover),
.control-button:hover, .control-button--active,
.spoticon-devices-16.control-button--active,
.main-addButton-active,.main-addButton-active:focus,.main-addButton-active:hover,
.main-playPauseButton-button:hover svg,
.main-playPauseButton-button:active svg {
    color: var(--spice-button-active);
}

.progress-bar--is-active .progress-bar__fg,
.progress-bar--is-active .progress-bar__slider,
.control-button--active-dot:after {
    background: var(--spice-button-active);
}

.main-shuffleButton-button:active,
.main-skipBackButton-button:active,
.main-skipForwardButton-button:active,
.main-repeatButton-button:active,
.control-button:focus:active, .control-button:hover:active, .control-button--active:not(.control-button--disabled):active:focus, .control-button--active:not(.control-button--disabled):active:hover,
.main-playPauseButton-button:active {
    transform: scale(0.9);
    color: var(--spice-button-active);
}